@import url('https://fonts.googleapis.com/css?family=Outfit');

* {
	font-family: Outfit;
	font-size: 15px;
	font-weight: 400;
}

body {
	height: 100vh;
	background-color: hsl(212, 45%, 89%);
	overflow-y: clip;
}

.container {
	width: 300px;
	background-color: hsl(0, 0%, 100%);
	text-align: center;
	margin: 60px auto 30px;
	padding: 15px 15px 40px 15px;
	border-radius: 20px;
}

.container img {
	height: 280px;
	border-radius: 15px;
}

.container h1 {
	font-size: 25px;
	font-weight: 700;
}

.container p {
	color: hsl(220, 15%, 55%);
}
